<!---->
{{define "content"}}
<div id="body">
{{if .myUser}}
	<p>You are currently logged in as {{.myUser.Displayname}} ({{.myUser.Username}})</p>
{{else}}
	<form action="" method="POST">
		Username <input type="text" name="username" {{if .username}}value="{{.username}}"{{end}}><br>
		Password <input type="password" name="password"><br>
		{{if .registration}} Confirm Password <input type="password" name="conf_password"><br>{{end}}
		<input type="submit">
	</form>
{{end}}
</div>
<style>
	#body {
		margin: 15px;
	}
</style>
{{end}}
