<!---->
{{define "content"}}
<div id="UPDATE-PASSWORD">
	<form action="/update_password" method="POST" id="form" name="upd_pass_form">
		<input id="oldpassword" name="oldpassword" placeholder="Enter your old password" type="password"></input><br>
		<input id="newpassword" name="newpassword" placeholder="Desired new password" type="password"></input><br>
        <input id="conf_newpassword" name="conf_newpassword" placeholder="Confirm new password" type="password"></input><br>

		<button type="button" onclick="confirm()">Update your password</button><br>
	</form>
</div>

<script>
function confirm() {
    let old = document.getElementById("oldpassword").value;
    let newp = document.getElementById("newpassword").value;
    let confnewp = document.getElementById("conf_newpassword").value;
    let form = document.upd_pass_form;
    
    if (old.length < 1 || newp.length < 1) {
        alert("Form must not be empty");
    } else if (old === newp) {
        alert("Old and new passwords cannot be the same");
        return;
    } else if (newp === confnewp) {
        console.log("HI!");
        form.submit();
        return;
    } else {
        alert("New/Confirm New Passwords do not match");
        return;
    }
}
</script>
{{end}}
